@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body{
    margin: 0;
    padding: 0;
    background-color: #fafafa;
}

section.content h2{
    color: #266cd5;
}

p[title]{
    color: #ff4500;
    font-style: italic;
}

.text-styled{
    font-size: 48px;
    font-weight: bold;
    color: #2c3e50
}

body{
    font-family: 'Roboto', sans-serif;
}

.styled-list li{
    margin-bottom: 20px;

}

a:hover{
    color: orangered;
    text-decoration: underline;
}

.insert-content::after{
    content: "Thank you for visiting out website!";
    display: block;
    margin-top: 10px;
    text-align: center;
    font-style: italic;
    color: #2e8b57;
}

.content{

}